<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" style="background-color: #303030; height: 93vh">
            <div>
                <mat-card class="mt-3">
                    <form [formGroup]="todoForm">
                        <mat-form-field appearance="outline">
                            <mat-label>Outline form field</mat-label>
                            <input formControlName="item" matInput placeholder="Placeholder">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-hint>Hint</mat-hint>
                        </mat-form-field>
                    </form>
                    <div class="row btnContainer">
                        <button mat-raised-button [disabled]="todoForm.invalid" color="accent"
                            class="col-md-4">ADD</button>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="col-md-9"></div>
    </div>
</div>